<section class="flavour_selection">
	<ul class="flavours">
		<li id="ketchup">ketchup</li>
		<li id="butter">butter</li>
		<li id="truffle_oil">truffle oil</li>
		<li id="dill_pickle">dill pickle</li>
		<li id="blue_cheese">blue cheese</li>
		<li id="salt">salt</li>
		<li id="pepper">pepper</li>
	</ul>
</section>

<section class="drop_zone">

</section>

<section class="popcorn_bag">

</section>